#!/bin/sh
sleep=$1
sleep=${sleep:-30}

getcfg() { echo $(grep "$1=" /tmp/system.cfg|sed "s/$1=//"); }

if [ "$(getcfg hotspot.status)" = "enabled" ]; then
    if [ "$(getcfg hotspot.onboot)" = "enabled" ]; then
	script=/tmp/run.$$
	echo "sleep $sleep; /usr/etc/init.d/chilli start; rm -f $script" > $script
	bkgexec $script
    fi
fi

[ -d /etc/persistent/www/ ] && {
    cd /etc/chilli/www && {
	rm -f *.txt
	ln -s /etc/persistent/www/*.txt .
    }
}
