Source: coovachilli
Section: net 
Priority: optional
Maintainer: David Bird <dbird@acm.org>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: coovachilli
Architecture: any
Depends: ${shlibs:Depends}
Description: Coova's version of ChilliSpot, a Wireless LAN Access Point Controller.  
 ChilliSpot is an open source captive portal or wireless LAN access point
 controller and Coova-Chilli is a branch off the original. It supports web 
 based login which is today's standard for public HotSpots and it 
 supports Wireless Protected Access (WPA) which is the standard of 
 the future. Authentication, Authorization and Accounting (AAA) is 
 handled by your favorite radius server. Read more
 at http://coova.org/wiki/index.php/CoovaChilli/
