<!--
  --  The login success message
  -->
<h1>Success!</h1>
You are about to be redirected to: <p><a href="$FORM_userurl">$FORM_userurl</a></p>
To log out, type "1.1.1.1" in your browser. <b>enjoy!</b>
